@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #333333;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans-jp), "Noto Sans JP", sans-serif;
}
